* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 900px;
    width: 100%;
}

/* Inicio Nav bar */

header {
    background-color: rgb(0, 173, 0);
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    font-size: 1.5em;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {

    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: rgb(0, 207, 0);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;

    }

    .nav-menu.active {
        left: 0;
    }
}

/* Fim Nav bar */

/* Configuração linha*/

.linha {
    display: flex;
    flex-direction: row;
}

/* Conteudo da pagina */

.conteudo {
    display: flex;
}

/* Conteudo esquerda */

.conteudoUm {
    width: 80%;
}

.container {
    margin: 30px auto 0px auto;
    height: 870px;
    width: 60%;
}

.quemSomos {
    margin: 10px;
}

.quemSomos p {
    margin-top: 5px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    color: black;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

button {
    background-color: rgb(0, 207, 0);
    border: solid 1px black;
    border-radius: 3px;
    color: white;
    padding: 5px 7px;
    text-align: center;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(0, 207, 0);
}

.contato {
    margin: 10px;
}

.contato p {
    margin-top: 5px;
}

.contato b {
    color: rgb(0, 207, 0);
}

/* Final do conteudo da esquerda */

/* Barra lateral */

.conteudoDois {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(imagens/background2.jpg) no-repeat;
    height: 900px;
    width: 20%;
}

.slogan h1 {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
}

.slogan h2 {
    margin-right: 5px;
    margin-left: 5px;
    align-content: center;
    text-align: center;
    font-size: 7em;
    text-transform: uppercase;
}

.slogan .textoUm {
    color: white;
}

.slogan .textoDois {
    color: #00cf00;
}

.conteudoDois p {

    align-content: center;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
}

/* Fim barra lateral */

/* footer */

footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 207, 0);
    color: white;
}

/* Responsividade */

@media (max-width:768px) {
    .conteudo {
        display: flex;
        flex-direction: column-reverse;
    }

    .conteudoDois {
        width: 100%;
    }

    .conteudoUm {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .container h1,
    p {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}